@import 'config';
@import 'utilities';

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.7em;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p,
a {
    color: $d-color;
}

ul {
    list-style: none;
}

// Nav

nav {
    background: url(../img/main.jpg) no-repeat center center/cover;
    height: 100vh;
    background-color: rgba(225, 225, 225, .1);
    background-blend-mode: lighten;

    @media screen and (max-width:1366px) {
        height: 800px;
    }

    @media screen and (max-width:414px) {
        width: 100%;
        padding: 0;
    }

    .container {
        @include container;
        padding-top: 1rem;

        @media screen and (max-width:414px) {
            width: 100%;
            padding: 10px 0 0;
        }

        .nav {
            display: flex;
            justify-content: space-between;
            background-color: rgba(255, 255, 255, 0.1);

            @media screen and (max-width:414px) {
                flex-direction: column;
                text-align: center;
                margin: 0 10px;
            }

            h1 {
                font-size: 2.5rem;
                padding: 1.5rem;

                @media screen and (max-width:414px) {
                    padding: 1rem;
                    padding-top: 1.5rem;
                    font-size: 2rem;
                }

            }

            ul {
                display: flex;

                @media screen and (max-width:414px) {
                    flex-direction: column;
                    text-align: center;
                }

                li {
                    padding: 1.5rem;

                    @media screen and (max-width:414px) {
                        padding: .5rem;
                    }

                    a {
                        font-size: 2rem;
                        font-weight: bold;
                        padding-bottom: 10px;
                        border-bottom: 4px transparent solid;
                        transition: .3s;

                        @media screen and (max-width:414px) {
                            font-size: 1.5rem;
                            padding-bottom: 5px;
                        }

                        &:hover {
                            border-bottom: solid $l-color 4px;

                        }

                        &.current {
                            border-bottom: solid $d-color 4px;

                        }
                    }

                }
            }
        }

        .header-content {
            @include container;
            padding-top: 20%;
            text-align: center;

            h1 {
                font-size: 3rem;
                line-height: 3rem;
                color: $d-color;
                padding-bottom: 1rem;

                @media screen and (max-width:414px) {
                    line-height: 5rem;
                }

                span {
                    color: $main-color;
                }
            }

            p {
                padding-top: 2rem;
                padding-bottom: 1rem;
            }

            .btn-light {
                @extend %btn;
                display: inline-block;
                margin-top: 1rem;
                background: rgba(255, 255, 255, .6);
                font-weight: bolder;
                font-size: 1rem;
                transition: .4s;

                &:hover {
                    background: rgba(255, 255, 255, .4);
                    transition: .4s;

                }
            }
        }
    }
}


#home-info {
    height: 500px;
    display: flex;
    background: #f3f3f3;

    @media screen and (max-width:414px) {
        flex-direction: column;
        height: 950px;
    }

    .info-img {
        background: url(../img/info.jpg)no-repeat center center/cover;
        width: 50%;
        height: 100%;

        @media screen and (max-width:414px) {
            display: block;
            width: 100%;
            height: 500px;
            order: 2;
        }
    }

    .info-content {
        width: 50%;
        padding: 150px 30px 0;
        text-align: center;

        @media screen and (min-width:415px) and (max-width:1024px) {
            padding-top: 80px;
        }

        @media screen and (max-width:414px) {
            display: block;
            width: 100%;
            height: 450px;
            padding: 50px 0 0;
            order: 1;
        }


        h2 {
            font-size: 2rem;
            line-height: 2.5rem;
            padding-bottom: 1rem;

            span {
                color: $main-color;
            }
        }

        p {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        a {
            @extend %btn;
            display: inline-block;
            margin-top: 1rem;
            background: #555;
            font-weight: bolder;
            font-size: 1rem;
            color:#f3f3f3;
            transition: .4s;

            &:hover {
                background: rgba(53, 53, 53, .5);
                transition: .4s;
            }
        }
    }

}

#features {
    display: flex;
    color: #f3f3f3;

    @media screen and (max-width:414px) {
        display: block;
    }

    .box {
        width: 33%;
        text-align: center;
        padding: 50px;

        @media screen and (max-width:414px) {
            display: block;
            width: 100%;
            padding: 20px 0;
        }

        i {
            padding-bottom: 10px;
        }

        h3 {
            color: #f3f3f3;
            padding-bottom: 10px;
        }

        p {
            color: #f3f3f3;
        }
    }

    .bg-light {
        background: $main-color;
    }

    .bg-dark {
        background: #555;
    }
}

#about-info {
    background: #f3f3f3;

    .container {
        @include container;
        padding: 30px 20px;
        display: flex;

        @media screen and (max-width:414px) {
            flex-direction: column;
            width: 100%;
            padding: 30px 0 0;
        }

        .info-left {
            width: 50%;
            padding-left: 5%;

            @media screen and (max-width:414px) {
                display: block;
                width: 100%;
                padding: 0;
            }

            h1 {
                font-size: 2rem;
                padding: 10px 0;

                @media screen and (max-width:414px) {
                    padding-bottom: 20px;
                    text-align: center;
                }

                span {
                    color: $main-color;
                }
            }

            p {
                padding: 10px 0;

                @media screen and (max-width:414px) {
                    padding: 0;
                    text-align: center;
                }
            }
        }

        .info-right {
            width: 50%;
            min-height: 100%;

            @media screen and (max-width:414px) {
                display: block;
                width: 100%;
                padding: 0;
            }

            img {
                display: block;
                margin: auto;
                width: 70%;
                border-radius: 50%;

                @media screen and (max-width:414px) {
                    padding-top: 20px;
                    border-radius: 0;
                    width: 100%;
                }
            }
        }

    }
}

#testimonials {
    height: 100%;
    background: url('../img/photo2.jpg')no-repeat center center/cover;
    padding: 80px 0 30px;

    .container {
        @include container;

        h2 {
            color: $main-color;
            font-weight: bold;
            text-align: center;
            padding-bottom: 40px;
            font-size: 2.5rem;
            line-height: 3rem;

            @media screen and (max-width:414px) {
                color: rgb(42, 88, 252);
            }
        }

        .testimonial {
            display: flex;
            background: rgba(255, 255, 255, .7);
            padding: 20px;
            margin-bottom: 40px;

            @media screen and (max-width:414px) {
                flex-direction: column;
            }

            i {
                padding: 15px;
                color: $d-color;

                @media screen and (max-width:414px) {
                    text-align: center;
                    font-size: 75px;
                }
            }

            p {
                padding: 0 15px;
                color: black;
            }
        }
    }
}

#contact-form {
    background: #f3f3f3;

    @media screen and (max-width:414px) {
        padding: 0 15px 20px;
    }

    .container {
        @include container;
        padding: 20px 20px 0;

        @media screen and (max-width:414px) {
            width: 100%;
            padding: 0;
        }

        h1 {
            padding: 30px 0 20px;
            font-size: 2.5rem;
            line-height: 3rem;

            span {
                color: $main-color;
            }
        }

        p {
            padding: 10px 0;
        }

        form {

            .form-group {
                margin-bottom: 20px;

                label {
                    display: block;
                }

                input {
                    width: 100%;
                    padding: 10px;
                    border: 1px $l-color solid;
                    background: #f3f3f3;

                    @media screen and (max-width:414px) {
                        width: 95%;
                        padding: 5px;
                    }

                    &[type=text]:focus {
                        outline: none;
                        border: 1px $main-color solid;
                    }

                    &[type=email]:focus {
                        outline: none;
                        border: 1px $main-color solid;
                    }
                }

                textarea {
                    width: 100%;
                    padding: 10px;
                    border: 1px $l-color solid;
                    background: #f3f3f3;

                    @media screen and (max-width:414px) {
                        width: 95%;
                        padding: 5px;
                    }

                    &:focus {
                        outline: none;
                        border: 1px $main-color solid;
                    }
                }
            }

            button {
                @extend %btn;
                font-weight: bold;
                background: $main-color;
                color: white;
                border: none;
                margin-bottom: 20px;
                transition: .4s;

                &:hover {
                    background: rgb(206, 206, 206);
                    color: $main-color;
                    transition: .4s;
                }
            }
        }
    }
}

#content-info {

    background: #555;
    .container {
        @include container;
        display: flex;
        color: #f3f3f3;
        @media screen and (max-width:414px){
            flex-direction: column;
        }

        .box {
            width: 33%;
            text-align: center;
            padding: 50px;

            @media screen and (max-width:414px) {
                display: block;
                width: 100%;
                padding: 20px 0;
            }
        }

        i {
            padding-bottom: 10px;
        }

        h3 {
            color: #f3f3f3;
            padding-bottom: 10px;
        }

        p {
            color: #f3f3f3;
        }
    }
}




footer {
    background: $d-color;
    text-align: center;

    p {
        padding: 20px;
        color: #f3f3f3;
    }
}
